spring:
  application:
    name: conectaobra
  datasource:
    url: jdbc:mysql://localhost:3306/conectaobra
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: admin
    password: 123
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.MySQLDialect
jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub
